* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  transition: 0.25s background-color, 0.25s color, 0.25s transform,
    0.25s letter-spacing;
  font-family: "Noto Sans KR", sans-serif;
}

.taeh-dark-layout {
  padding-top: 5rem;
  width: 100vw;
  min-height: 100vh;
  background-color: #121212;
  color: white;

  a {
    color: white;
  }
}

.taeh-layout {
  padding-top: 4rem;
  width: 100vw;
  min-height: 100vh;
  background-color: #f8f8ff;
  color: rgb(25, 25, 25);

  a {
    color: rgb(25, 25, 25);
  }
}
