* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  transition: 0.25s background-color, 0.25s letter-spacing, 0.25s transform;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  overflow-x: hidden;
}

.taeh-dark-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  background-color: #121212;
  color: white;

  a {
    color: white;
  }
}

.taeh-layout {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  background-color: #f8f8ff;
  color: rgb(25, 25, 25);

  a {
    color: rgb(25, 25, 25);
  }
}
