.postWrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  section {
    width: 70vw;
    max-width: 750px;
  }
}

.markdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h1 {
    font-size: 1.2rem;
  }
  p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    line-height: 1.5;
    word-wrap: break-word;
  }
  code {
    font-size: 0.9rem;
    color: #4284f3;
    cursor: pointer;
    &:hover {
      color: #7babfe;
    }
  }
  pre {
    cursor: pointer;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    padding: 0.4rem 0.5rem;
    background-color: rgb(200, 200, 200);
    &:hover {
      background-color: rgba(180, 180, 180);
    }
    code {
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.04rem;
      line-height: 1.4;
      color: black;
      background-color: transparent;
      &:hover {
        color: black;
      }
    }
  }
  ul {
    line-height: 1.4;
    li {
      font-size: 0.9rem;
      margin-left: 1.5rem;
      list-style: circle;
    }
  }
  ol {
    li {
      margin-left: 1.5rem;
      list-style: decimal;
    }
  }
  blockquote {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    height: 1.5rem;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    ::before {
      content: " ";
      padding: 0 0.1rem;
      margin-right: 1rem;
      background-color: rgba(200, 200, 200);
    }
  }
}
