.togglemode {
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  animation: toggleModeFlying infinite 3s ease-in-out;
  animation: toggleModeRotate infinite 15s linear;
  @media (max-width: 800px) {
    font-size: 4rem;
    right: 1rem;
    bottom: 2rem;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  background-color: yellow;
  border-radius: 50%;
  font-size: 1rem;
  color: black;
  transition: 0.1s;
}
